@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

#BlogContainer_View {
	width: 966px;
	margin: 0 auto;
	border-top: 5px solid #000000;
	padding-top: 30px;

}

#BlogMainContainer_View {
	width: 100%;
	overflow: hidden;
	height: 100%;

}

#BlogLeftContainer_View {
	float: left;
	width: 75%;
}

#BlogRightContainer_View {
	float: right;
	width: 19%;
	border-left: solid 1px #cccccc;
	padding-left: 20px;
	padding-top: 10px;
}

#BlogContentList_View {
	width: 100%;
	height: 100%;
	padding-bottom: 200px;
	margin-bottom: 20px;
}

.cateTitle_View {
	font-size: 18pt;
	font-weight: bold;
}

#BlogRightContainer_View ul {
	list-style-type: none;
	margin-top: 20px;
	padding: 0;
}

.categoryParent_View {
	font-size: 14pt;
}

.categoryParent_View li{
	padding-left: 20px;
}

.categoryParent_View > li:first-child {
	padding-left: 0 !important;
}

.categoryParent_View > li:not(:first-child) {
	border-left: 1px solid #f0f0f0;
}

.categoryChildren_View {
	padding-left: 30px;
	font-size: 12pt;
}

#BlogRightContainer_View ul li {
	padding-bottom: 20px;
}

.categoryChildren_View {
	border-left: 1px solid #f0f0f0;
}

li a:hover {
	text-decoration: underline;
	cursor: pointer;
} 

.cnt_View {
	font-weight: normal !important;
	font-size: 12pt !important;
	color: #bbbbbb;
}

.BlogCategory {
	padding-right: 10px;
}

.BlogWriteDay {
	padding-left: 10px;
}

.BlogCateDay {
	font-size: 10pt;
}

.goCategory:hover {
	text-decoration: underline;
}

#BlogContentHead_View {
	width: 100%;
	height: 150px;
}

#BlogContentBody_View {
	width: 100%;
}

#buttonArea {
	text-align: left;
	margin-bottom: 200px;
}

#goodArea {
	float: left;
	width: 100px;
	height: 20px;
	text-align: center;
	margin-right: 30px;
	font-size: 0.8em;
	padding-top: 5px;
	padding-bottom: 3px;
	border: solid 1px #bbbbbb;
}

#commentArea {
	float: left;
	width: 100px;
	height: 20px;
	text-align: center;
	font-size: 0.8em;
	padding-top: 5px;
	padding-bottom: 3px;
	border: solid 1px #bbbbbb;
}

#cateListmenu {
	font-size: 0.67em;
	font-weight: bold;
	height: 20px;
}

#thisListArea {
	float: left;
}

#categoryname {
	color: #4da6ff !important;
} 

#categoryname:hover {
	font-weight: bold;
	text-decoration: underline;
	cursor: pointer;
}

#allListArea {
	float: right;
	margin-right: 10px;
}

#allListArea > a:hover {
	text-decoration: underline;
}

#cateListArea {
	border-bottom: solid 1px #000000;
	border-top: solid 1px #000000;
}

#cateListTBL {
	border-collapse: collapse;
	margin: 0;
	width: 100%;
	font-size: 10pt;
}

.cateListTitle {
	width: 80%;
	color: #555555;
	padding-top: 5px;
	padding-bottom: 5px;
}

#cateListTBD > tr:not(:last-child){
	border-bottom: 1px solid #cccccc;
}

.cateListDate {
	text-align: right;
	padding-right: 10px;
	color: #999999;
	padding-top: 5px;
	padding-bottom: 5px;
}

#cateListTBD > tr:hover {
	background-color: #eeeeee;
}

.cateListTitle:hover {
	font-weight: bold;
	cursor: pointer;
	text-decoration: underline;
}

#editDelArea {
	width: 100%;
	height: 30px;
}

#editDelArea > div {
	float: right;
	display: inline-block;
	margin-right: 20px;
	font-size: 0.8em;
}

#editDelArea > div:hover {
	text-decoration: underline;
	cursor: pointer;
	font-weight: bold;
}
