@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@800&display=swap');

#container_login {
	width: 100%;
}

#title_login {
	background-color: #404040;
	width: 100%;
	height: 100px;
	margin: 0;
	padding: 0;
	text-align: center;
	color: #ffffff;
}

h1 {
	margin: 0;
	padding-top: 30px;
}

#button_area {
	padding: 50px 0;
	width: 60%;
	margin-top: 5%;
	margin-left: 10%;
}

#btn_area {
	vertical-align: middle;
}

#mybtnArea {
	margin-bottom: 70px;
	margin-left: 0;
	width: 400px;
	height: 100px;
	text-align: center;
	background-color: #404040;
	border-radius: 50px;
	font-family: 'Jua', sans-serif;
	color: #ffffff;
}

#guestbtnArea {
	width: 400px;
	height: 100px;
	margin: 0 auto;
	text-align: center;
	background-color: #404040;
	border-radius: 50px;
	font-family: 'Turret Road', cursive;
	color: #ffffff;
}

#mybtnArea > div {
	padding: 28px 10px;
}

#guestbtnArea > div {
	padding: 28px 10px;
}

.loginbtn {
	font-size: 28pt;
}

#mybtnArea:hover {
	cursor: pointer;
}

#guestbtnArea:hover {
	cursor: pointer;
}

#loginContainer {
	margin-bottom: -30px;
	margin-left: 0;
	width: 400px;
	height: 200px;
	text-align: center;
	font-family: 'Jua', sans-serif;
}

#idbox, #pwbox {
	margin-bottom: 10px;
	text-align: center;
	width: 300px;
	margin-left: 30px;
}

label {
	display: inline-block;
	width: 40px;
}
.input {
	padding: 10px 10px;
}

#loginbtn {
	width: 100px;
	height: 30px;
	text-align: center;
	vertical-align: middle;
	margin-left: 150px;
	margin-top: 30px;
	border: 1px solid #000000;
	background-color: #404040;
	color: #ffffff;
	border-radius: 50px;
	font-size: 14pt;
}

#loginbtn:hover {
	cursor: pointer;
}

#loginbtn > span {
	display: inline-block;
	margin-top: 5px;
}
